* .App{
  width: 100%;
  background-color: rgb(1, 1, 192);
}

.Wrapper{
  padding-right: 50px;
  display: flex;
  flex-direction: row;
}

/*todo  Split styling based on the components it affects*/

.Header{
  margin: 5px;
}
.UpperButtons{
  display: flex;
  background-color: blue;
}

.UpperButtons Button{
  width:33%;
  margin:5px;
  border: solid;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto'
}  

.Panel{
  background-color: blue;
  display: flex;
  width: auto;
  height: 8vmin;
  margin:5px;

}
.Panel Button{
  width:50%;
  margin:5px;
  border: solid;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto'
}



.Cy{
  margin: 10px;
  background-color:rgb(191, 201, 245);
  height: 60vmin;
  border: solid;
  width: auto;
  
}

.LeftPanel{
  border: solid;
  width: 45vmin;
  background-color: lightgray;
  font-family: 'Roboto' sans-serif
}





.GraphName{
  color: black;
}

.Select{
  width: 100%;
}


.AddNodePanel{
  font-family: 'Roboto' sans-serif;
  display: flex;
  height: 160px;
  padding: 5px;
  flex-direction: row;

}

.AddNodePanelLeft{
  width : 49%;

}

.AddNodePanelLeftSelect{
  width: 90%;
  margin:20px;
}

.AddNodePanelRight{
  margin-top: -5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 5px;
  line-height: 10px;
  width: 46%;
  background-color: gray;
  border: solid;
}

.AddNodePanel Button{
  width:33%;
  margin:5px;
  border: solid;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto'
}

