* .App{
  padding: 5%;
  background-color: rgb(1, 1, 192);
}

.Header{
  margin: 20px;
}
.UpperButtons{
  display: flex;
  background-color: blue;
}

.UpperButtons button{
  width:28%;
  height: 5vmin;
  margin:20px;
  border: solid;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(255, 255, 255);
}  

.Panel{
  background-color: blue;
 display: flex;
 align-content: center;
 width: auto;
 height: 10vmin;
 margin:20px;

}
.Panel button{
  font-family: 'Courier New', Courier, monospace;
  border: solid;
  width: 32.4%;
  margin: 5px;
  font-size: 25px; 
  border-radius: 10px;
  background-image: rgb(216, 219, 216) ;
}

.Select{
  width: 100%;
  border: solid;
  border-color: black;
}


.Cy{
  display: inline-block;
  margin: 20px;
  background-color:rgb(191, 201, 245);
  height: 80vmin;
  border: solid;
  width: 100%;
  
}

.Lists{
  display: flex;
  font-family:'Courier New', Courier, monospace;
  flex-direction: row-reverse;  
  align-content: space-around;
  background-color: white;
}

.Lists td{

  border: solid;
  width:20vmin;
  border-width: 2px;
  background-color: gray;
}

.GraphName{
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
