* .App{
  width: 100%;
  background-color: rgb(60, 60, 77);
}

.Wrapper{
  padding-right: 50px;
  display: flex;
  flex-direction: row;
}

/*todo  Split styling based on the components it affects*/

.Header{
  margin: 5px;
}
.UpperButtons{
  display: flex;
  background-color: rgb(86, 86, 98);
}

.UpperButtons Button{
  width:33%;
  margin:5px;
  border: solid;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto'
}  

.Panel{
  background-color: rgb(88, 88, 110);
  display: flex;
  width: auto;
  height: 8vmin;
  margin:5px;

}
.Panel Button{
  width:50%;
  margin:5px;
  border: solid;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto'
}



.Cy{
  position: auto;
  margin: 10px;
  background-color:rgb(191, 201, 245);
  height: 60vmin;
  border: solid;
  width: auto;
  
}

.LeftPanel{
  border: solid;
  width: 45vmin;
  background-color: lightgray;
  font-family: 'Roboto' sans-serif
}




.GraphName{
  color: black;
}

.Select{
  width: 100%;
}


.AddNodePanel{
  font-family: 'Roboto' sans-serif;
  margin-bottom: 10px;
  display: flex;
  height: 160px;
  padding: 5px;
  flex-direction: row;

}

.AddNodePanelLeft{
  width : 35vmax;

}

.AddNodePanelLeftSelect{
  width: 90%;
  margin: 5px;
}

.AddNodePanelRight{
  display: flex;
  margin-top: -5px;
  padding-left: 20px;
  padding-right: 100px;
  margin-right: 5px;
  height: 100%;
  width: 40vmax;
  background-color: gray;
  border: solid;
  font-size: 20px;
}

.EdgeEditor{
  width: 35%;
}


.EdgeEditorRight {
  width: 70%;
  margin-left: -10px;
}


.NodeEditor{
  width: 40%;
}
.NodeDesc{
  width: 70%;
  margin-left: 10px;
}

.AddNodePanel Button{
  width:33%;
  margin:5px;
  border: solid;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto'
}

